@font-face {
	font-family: normal;
	src:url(../fonts/caps.ttf);
}
@font-face {
	font-family: bold;
	src:url(../fonts/normal-bold.ttf);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    box-sizing: border-box;
    list-style-type: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    font-size: 1.6rem;
}
.logo{    
    height: 80px;
    width: 80px;    
}
h1, h2, h3, h4{
    font-family: normal;
}


/*-------------------

   header

--------------------*/
header{
    width: 100%;
    height: 6rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
nav, .container{
    max-width: 98%;
    margin: auto;

    
    }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid rgb(42, 129, 50);
}
.nav-brand{
    width: 2rem;
}
.menu-icons i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}
.close i{
    color: #000000;
}
.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: rgb(119, 86, 48);
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
    font-family: normal;
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}
.nav-item{
    margin: 1.5rem 0 ;
}
.nav-link{
    font-size: 15px;
    text-transform: uppercase;
    color: #fafafa;
    transition: 0.3s;
}
.nav-link:hover{
  color: burlywood;
  
}
/*-------------------

  section  hero

--------------------*/

.hero{
    width: 100%;
    height: 100vh;
    background:  linear-gradient(rgba(20, 37, 56, 0.93), rgba(0, 0, 0, 0.93)), url("../image/projeqt1/4.jpg") center no-repeat;
    background-size: cover;
    position: relative;

}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-message{
    width: 100%;
    max-width: 50rem;
    padding: 0 1rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
}
.main-message h3{
    font-size: 1,7rem;
    font-family: bold;
}


.title {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
  }
    .block {
      width: 0%;
      height: inherit;
      background:rgb(42, 129, 50);
      position: absolute;
      animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
      display: flex;
    }

    .title h1 {
      line-height: 30px;
      font-family: normal;
      color: #fff;
      font-size: 2rem;
      -webkit-animation: mainFadeIn 2s forwards;
      -o-animation: mainFadeIn 2s forwards;
      animation: mainFadeIn 2s forwards;
      animation-delay: 1.6s;
      opacity: 0;
      display: flex;
      align-items: baseline;
      position: relative;
    }  
          

@keyframes mainBlock {
0% {
  width: 0%;
  left: 0;

}
50% {
  width: 100%;
  left: 0;

}
100% {
  width: 0;
  left: 100%;
}
}

@keyframes secBlock {
0% {
  width: 0%;
  left: 0;

}
50% {
  width: 100%;
  left: 0;

}
100% {
  width: 0;
  left: 100%;
}
}

@keyframes mainFadeIn {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}


.main-message p{
    font-family: bold;
    font-size: 1.8rem;
    line-height: 25px;
   /* text-transform: lowercase;*/
}
.btn{
    font-family: bold;
    background-color: rgb(42, 129, 50);
    border-radius: 2rem;
    font-size: 14px;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 20px 11px 20px;
    text-transform: uppercase;
    transition: background-color 650ms;
}
.btn:hover{
    background-color:  rgb(21, 70, 26);
}



/*-------------------

  section about us & sevices

--------------------*/


